        * {
            margin: 0;
            padding: 0%;
            box-sizing: border-box;

        }

        header {
            display: grid;
            grid-template-columns: 1fr 4fr 2fr;
            background-color: white;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100px;
            z-index: 1000;
            padding: 0 20px;

        }

        .header-img {
            display: grid;
            align-items: end;
            justify-items: end;
        }

        .menu {
            display: grid;
            align-items: center;
            justify-items: end;

        }

        .hamburger {
            display: none;
        }

        .header-menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 50px;
            text-decoration: none;
            text-align: center;
            font-family: "Montserrat", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

        }

        .header-menu li {
            text-decoration: none;
            list-style: none;
            color: #0e1e2f;
            fill: #0e1e2f;
        }

        .header-menu :hover {
            color: #4ef1ae;
            cursor: pointer;
        }

        .header-btn {
            display: grid;
            justify-content: center;
            align-content: center;

        }

        .header-touch-btn {
            display: grid;
            background-color: #4ef1ae;
            color: #030303;
            border-color: #4ef1ae;
            font-family: "Montserrat", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            align-items: center;
            justify-items: center;
            border-radius: 30px 30px 30px 30px;
            padding: 14px 26px 14px 26px;
        }

        .header-btn :hover {
            background-color: white;
            color: #4ef1ae;
            cursor: pointer;
            border-color: white;
        }

        .main-video video {
            width: 100%;
            height: auto;
        }

        @media (max-width: 768px) {
            header {
                grid-template-columns: 1fr 4fr 1fr;
                height: auto;
                padding: 10px;
                text-align: center;
                row-gap: 10px;
            }

            .header-menu {
                display: none;
            }

            .hamburger {
                display: block;
                display: grid;
                justify-items: end;
                align-items: end;
            }

            .hamburger img {
                width: 30px;
                height: 30px;
            }

            .img,
            .menu,
            .header-btn {
                /* justify-content: center; */
                align-items: center;
                margin: 10px 0;
            }

            .header-img img {
                width: 70px;
                height: 70px;
            }

            .header-menu {
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }

            .header-menu li {
                font-size: 14px;
            }

            .header-touch-btn {
                padding: 8px 8px;
                font-size: 12px;
            }

            .main-video {
                margin-top: 150px;
                padding: 0 10px;
            }

            .main-video video {
                width: 100%;
            }
        }

        @media (max-width: 480px) {
            .header-menu {
                grid-template-columns: 1fr;
                gap: 10px;
            }

            .header-touch-btn {
                width: 100%;
            }
        }