        * {
            margin: 0;
            padding: 0%;
            box-sizing: border-box;
            font-family: "Montserrat", Sans-serif;

        }

        .container {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }


        header {
            display: grid;
            grid-template-columns: 1fr 4fr 2fr;
            background-color: white;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100px;
            z-index: 1000;
            padding: 0 20px;

        }

        .header-img {
            display: grid;
            align-items: center;
            justify-items: end;

        }

        .header-img img {
            width: 50%;
            height: 70%;
            /* padding: 1; */
        }

        .menu {
            display: grid;
            align-items: center;
            justify-items: end;

        }

        .hamburger {
            display: none;
        }

        .header-menu {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
            gap: 50px;
            text-decoration: none;
            text-align: center;
            font-family: "Montserrat", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;

        }

        .header-menu a {
            text-decoration: none;
            /* list-style: none; */
            color: #0e1e2f;
            /* fill: #0e1e2f; */
        }

        .header-menu :hover {
            color: #4ef1ae;
            cursor: pointer;
        }

        .header-btn {
            display: grid;
            justify-content: center;
            align-content: center;

        }

        .header-touch-btn {
            display: grid;
            background-color: #4ef1ae;
            color: #030303;
            border-color: #4ef1ae;
            font-family: "Montserrat", Sans-serif;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            align-items: center;
            justify-items: center;
            border-radius: 30px 30px 30px 30px;
            padding: 14px 26px 14px 26px;
        }

        .header-btn :hover {
            background-color: white;
            color: #4ef1ae;
            cursor: pointer;
            border-color: white;
        }

        /* .main-video video {
            width: 100%;
            height: auto;
        } */
        .banner {
            background-image: url('./assets/background-8000-x-4500-am9iy9mmu6tepu15.jpg');
            width: 100%;
            height: 100vh;
            background-size: cover;
            position: relative;
        }

        .banner-sentence {
            position: relative;
            width: 100%;
            height: 100px;
            top: 40vh;
            text-align: center;
            font-size: 4rem;
            color: white;
            font-weight: bold;
            overflow: visible;
            text-transform: uppercase;
            line-height: 90px;
            font-family: "Montserrat", Sans-serif;
            word-spacing: 13px;
            letter-spacing: 4px;
            font-weight: 700;
        }

        .sentence {
            position: absolute;
            width: 100%;
            opacity: 0;
            animation: fadeCycle 9s infinite;
            left: 0;
        }

        .sentence:nth-child(1) {
            animation-delay: 0s;
        }

        .sentence:nth-child(2) {
            animation-delay: 3s;
        }

        .sentence:nth-child(3) {
            animation-delay: 6s;
        }

        @keyframes fadeCycle {
            0% {
                opacity: 0;
            }

            10% {
                opacity: 1;
            }

            30% {
                opacity: 1;
            }

            40% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }

        .new-era {
            color: #13158a;
        }

        .sen-two {
            color: #4ef1ae;
        }

        .sentence img {
            width: 30%;
            height: 30%;

        }

        .clients {
            width: 100%;
            background-color: white;
            display: grid;
            gap: 10px;
            overflow: hidden;
        }

        .client-images {
            display: flex;
            gap: 20px;
            width: calc(150px * 10);
            animation: scroll 20s linear infinite;

        }

        .client-images img {
            width: 150px;
            height: 70px;
            margin-right: 20px;
        }

        @keyframes scroll {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }
        }

        .client-heading {
            text-align: center;
            font-size: 40px;
            text-transform: uppercase;
            background: linear-gradient(to right, #4ad8ff, #fb3030);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        .about-us {
            background-color: #0E1E2F;

            height: 100%;


        }

        .about-content {
            position: relative;
            background-color: #0E1E2F;
            display: flex;
            flex-direction: row-reverse;
            overflow: hidden;
        }

        .about-us h2 {
            background: linear-gradient(to left, #12353e, #5ac9e4);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;

        }


        .about-video video {
            width: 100%;
            height: 90%;
            /* padding-top: 8%; */
            object-fit: cover;
            border-color: rgba(0, 0, 0, 0.05);
            border-radius: 20px;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0 70px #07396e;

            /* background: linear-gradient(to right, #4ad8ff, #fb3030); */
            /* -webkit-background-clip:text;
            -webkit-text-fill-color: transparent; */

        }

        .about {
            position: relative;
            top: 10%;
            left: 20%;
            color: white;
            max-width: 40%;
            font-size: 1.2rem;
            line-height: 1.6;
            padding: 20px;
            border-radius: 10px;
            padding-top: 8%;
            opacity: 0.8;
        }

        .service {
            padding: 10px 20px;
            position: relative;
            text-align: center;
            font-family: "Montserrat", Sans-serif;
        }

        .service h2 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 30px;
            font-weight: bold;
            background: linear-gradient(to right, #abb2b4, #75df71);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .service-images {
            display: flex;
            justify-content: start;
            gap: 20px;
            flex-wrap: wrap;
        }

        .service-image1,
        .service-image2 {
            width: 48%;
            overflow: hidden;
        }

        .service-image1 img,
        .service-image2 img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            display: block;
        }

        .hidden-service {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.75);
            color: #fff;
            opacity: 0;
            transition: opacity 0.5s ease;
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto;
            font-size: 16px;
            text-align: left;
            /* transform: ; */
        }

        .hidden-service {
            /* top:10%; */
            padding-top: 10%;
        }

        .hidden-service ul {
            line-height: 190%;
            list-style: none;
        }

        .service-image1:hover .hidden-service {
            opacity: 1;
        }

        .service-image2:hover .hidden-service {
            opacity: 1;
        }

        .service-image1,
        .service-image2 {
            transition: transform 1s ease;
        }

        .service-image1:hover {
            transform: translateX(20px);

        }

        .service-image2:hover {
            transform: translateX(-20px);

        }

        .projects-sec {
            background-color: #184552;
            padding: 30px 0;
        }

        .heading {
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            /* color: rgb(63, 102, 136); */
            margin-bottom: 30px;
            background: linear-gradient(to right, #7e53ff, #11eefe);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .projects-images {

            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 20px;
            justify-content: center;
            position: relative;
        }

        .image-item {
            position: relative;
            max-width: 400px;
            border-radius: 10px;
            overflow: hidden;
        }

        .image-item img {
            width: 100%;
            height: auto;
            border-radius: 10px;
            display: block;
        }

        .def-text {
            position: absolute;
            bottom: 0;
            width: 100%;
            color: #fff;
            padding: 8px;
            font-size: 16px;
            text-align: left;
            transition: opacity 0.3s ease;
            z-index: 1;

        }

        .image-item:hover img {
            transform: scale(1.02);
            transition: 0.3s ease;
        }

        .hov-text {

            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 15px;
            color: white;
            font-size: 14px;
            text-align: left;
            transform: translateY(100%);
            transition: transform 0.4s ease;
            font-weight: 10 00;
            opacity: 0;
            z-index: 2;

        }

        .image-item:hover .hov-text {
            transform: translateY(0);
            opacity: 1;
        }

        .image-item:hover .def-text {
            opacity: 0;
        }

        .uptodate-heading {
            text-align: center;
            background: linear-gradient(to left, #e0f8ff, #008979);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .card {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-content: center;

            width: 100%;
            height: auto;
            gap: 20px;
        }

        .card-content {
            max-width: 400px;


        }

        .card-content a {
            text-decoration: none;
            color: #000;

        }

        .card-content img {
            width: 100%;
            height: 50%;
            border-radius: 20px;
            display: block;

        }

        .view-btn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 35px;
            border-radius: 15px;
            display: grid;
            align-items: center;
            margin: 0 auto;
        }

        .form-container {
            width: auto;
            height: 100vh;
            background-image: url("assets/form-img-bg.webp");
            object-fit: contain;
            margin: 10% 10% 10% 10%;
            border-radius: 10px;
        }

        .form-heading {
            font-size: 30px;
            /* color: rgb(113, 248, 241); */
            background: linear-gradient(to right, #ccdafe, #1c747a);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            text-transform: uppercase;
            padding-top: 40px;
            padding: 30px;
            text-align: left;
        }

        .input-form {
            display: block;
            padding: 30px;
        }

        .input-form input,
        select,
        textarea {
            background-color: rgba(0, 0, 0, 0.05);
            height: 40px;
            width: 20%;
            border-top: rgba(0, 0, 0, 0.05);
            border-right: rgba(0, 0, 0, 0.05);
            border-left: rgba(0, 0, 0, 0.05);
            gap: 10px;
            color: white;
            padding-top: 10px;
            margin-bottom: 20px;
            padding: 10px;

        }

        .input-form select {
            height: 60px;
            color: rgb(142, 140, 140);
        }

        .input-form select option {
            background-color: rgb(0, 0, 0);
        }

        .input-form .subject,
        .file {
            width: 40%;
        }

        textarea {
            width: 40%;
            height: 80px;
        }

        .input-form button {
            padding: 10px 30px;
            border-radius: 20px;
            background-color: rgb(146, 249, 155);
        }

        .footer-div {
            display: grid;
            grid-template-columns: 1fr .5fr 1fr 1fr;
            background-color: rgb(17, 36, 57);
            color: white;
            height: 100%;
            width: 100%;
            padding-top: 5%;
            overflow: hidden;
            /* line-height: 30px; */
        }

        .footer-logo {
            display: grid;
            justify-items: center;
            align-content: center;


        }

        .footer-logo p {
            display: grid;
            justify-items: end;
            line-height: 20px;
            color: #858D99;
        }

        .links a,
        li {
            text-decoration: none;
            list-style: none;
            cursor: pointer;
        }

        a,
        li {
            text-decoration: none;
            line-height: 40px;
            color: #858D99;
        }

        .get-in-touch {
            padding-right: 30%;
        }

        .projects button {
            padding: 10px 20px;
            border-radius: 20px;
            background-color: rgb(97, 255, 118);
            color: white;
            border-color: rgb(97, 255, 118);
            cursor: pointer;
        }

        .footer-div h4 {
            font-size: 24px;
        }

        .footer-arcon {
            text-align: center;
            padding-top: 7%;
            background-color: rgb(17, 36, 57);
            color: white;
            width: 100%;
        }

        .copy-right {
            background-color: #3BB288;
            text-align: center;
            padding-top: 1%;
            padding-bottom: 1%;
            color: white;
            width: 100%;
        }

        @media (max-width: 768px) {
            header {
                grid-template-columns: 1fr 4fr 1fr;
                height: auto;
                padding: 10px;
                text-align: center;
                row-gap: 10px;
            }

            .header-menu {
                display: none;
            }

            .hamburger {
                display: block;
                display: grid;
                justify-items: end;
                align-items: end;
            }

            .hamburger img {
                width: 30px;
                height: 30px;
            }

            .img,
            .menu,
            .header-btn {
                align-items: center;
                margin: 10px 0;
            }

            .header-img img {
                width: 70px;
                height: 70px;
            }


            .header-menu {
                grid-template-columns: repeat(2, auto);
                gap: 20px;
            }

            .header-menu li {
                font-size: 14px;
            }

            .header-touch-btn {
                padding: 8px 8px;
                font-size: 12px;
            }

            .banner {
                height: 90vh;
                width: 100%;
            }

            .banner-sentence {
                font-size: 20px;
                line-height: 50px;
            }

            .clients {
                width: 100%;
            }

            .client-images {
                width: 100%;
            }

            .client-images img {
                width: 50%;
                height: 50%;
                margin: 0;
            }

            .clients h3 {
                text-align: center;
                font-size: 24px;

            }

            .about-content {
                display: flex;
                flex-direction: column;
                text-align: center;
                width: auto;
                align-items: center;
            }

            .about {
                font-size: 16px;
                padding: 0;
                left: 0;
                right: 0%;
                text-align: center;
                padding: 0;
                margin: 0;
                max-width: 100%;
                line-height: 30px;

            }

            .service-image1,
            .service-image2 {
                width: 100%;
            }

            .service-image1:hover {
                transform: translatey(20px);

            }

            .service-image2:hover {
                transform: translatey(-20px);

            }

            .projects-images {
                display: grid;
                grid-template-columns: 1fr;
                justify-content: center;
                position: relative;

            }

            .image-item {
                max-width: 100%;
                /* padding: 10%; */
            }

            .image-item img {
                width: 100%;
                height: 100%;
            }

            .card {
                display: grid;
                grid-template-columns: 1fr;
                align-items: center;
                justify-content: center;
                padding-left: 10%;
                /* gap: 3px; */

            }

            .card-content {

                max-width: 90%;
            }

            .form-container {
                margin: 0;
            }



            .input-form {

                padding: 0;
                width: 100%;
            }

            .input-form input,
            select,
            textarea {
                width: 100%;

            }

            .footer-div {
                display: grid;
                grid-template-columns: 1fr 1fr;
                padding-left: 10px;
                gap: 20px;
            }

            .footer-logo {
                justify-items: start;

            }

            .footer-div ul {
                padding-left: 0%;
            }
        }



        @media (max-width: 480px) {
            .header-menu {
                grid-template-columns: 1fr 4fr 1fr;
                gap: 10px;
            }

            .header-touch-btn {
                width: 100%;
            }

            .banner {
                width: 100%;
                height: 80vh;
            }

            .banner-sentence {
                font-size: 18px;
            }
        }
